{% extends './layouts/base.html' %}
{% load static %}
{% block title %}Página inicial{% endblock %}
{% block content %}
    <h1>Página galeria</h1>
    <div class="gallery">
        <!-- Imágenes de la galería -->
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image1.jpg' %}" alt="Descripción 1">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image2.jpg' %}" alt="Descripción 2">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image3.jpg' %}" alt="Descripción 3">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image4.jpg' %}" alt="Descripción 4">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image5.jpg' %}" alt="Descripción 5">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image6.jpg' %}" alt="Descripción 6">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image7.jpg' %}" alt="Descripción 7">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image8.jpg' %}" alt="Descripción 8">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image9.jpg' %}" alt="Descripción 9">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image10.jpg' %}" alt="Descripción 10">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image11.jpg' %}" alt="Descripción 11">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image12.jpg' %}" alt="Descripción 12">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image13.jpg' %}" alt="Descripción 13">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image14.jpg' %}" alt="Descripción 14">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image15.jpg' %}" alt="Descripción 15">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image16.jpg' %}" alt="Descripción 16">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image17.jpg' %}" alt="Descripción 17">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image18.jpg' %}" alt="Descripción 18">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image19.jpg' %}" alt="Descripción 19">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image20.jpg' %}" alt="Descripción 20">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image21.jpg' %}" alt="Descripción 21">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image22.jpg' %}" alt="Descripción 22">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image23.jpg' %}" alt="Descripción 23">
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/gallery/image24.jpg' %}" alt="Descripción 24">
        </div>
    </div>

{% endblock %}