{% extends './layouts/base.html' %}
{% load static %}
{% block title %}Página inicial{% endblock %}
{% block content %}
    <h1>SPA Caricia del cielo</h1>
    <img src="{% static 'images/portada.jpg' %}" alt="Foto del área de masages" class="imagen-portada">
    <p>SPA Caricia del Cielo es un Plan de Negocios, que se propone llenar un espacio social, consistente en proporcionar a los habitantes de la región un punto donde converjan el esparcimiento, la salud y el bienestar físico y mental. Paralelamente, permitirá poner en practica diversas herramientas académicas, tanto teóricas como metodológicas, con un carácter fundamentalmente práctico.</p>
{% endblock %}
